body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display:flex; 
  flex-direction:column; 
  justify-content:center;
  min-height:100vh;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.particles_container{
  position : absolute;
  width: 100%;
  display: block;
  z-index:-1;
  height: 650px;
}

.subtitle{
  color: rgb(82, 91, 96) !important;
}
 
#tsparticles{
  height: 650px;
}

#techstack-con{
  background-image: url("images/techstack.svg");
  background-repeat: no-repeat;
  background-size: contain;
  box-shadow:inset 0 0 0 2000px rgba(255, 255, 255, 0.95);
  background-position: center;
}

#projects-con{
  background-repeat: repeat;
  background-size: 300px;
  box-shadow:inset 0 0 0 2000px rgba(255, 255, 255, 0.95);
  background-position: center;
}

.stack-logo{
  max-height: 75px;
}

.stack-logo:hover{
  transform: scale(1.05);
}

.project-image{
  max-height: 400px;
}

.project-image:hover{
  transform: scale(1.05);
}

#project-title{
  text-transform: uppercase;
}

.navbar .navbar-brand {
  text-align: center;
  display: block;
  width: 100%;
}

.navbar .navbar-brand > .navbar-item,
.navbar .navbar-brand .navbar-link {
  display: inline-block;
}

#reverse{
  flex-direction: row-reverse;
}

@media only screen and (max-width: 768px) {
  #mobile-reverse{
    flex-direction: column-reverse;
    display: flex;
    margin-bottom: 50px;
  }

  #reverse{
    flex-direction: column-reverse;
    display: flex;
  }

  #techstack-column{
    display: flex;
  }

  #techstack-column .column{
    flex:50%;
  }
}